@include phone {
    .footer {
        width: 100%;
        height: 32vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 5px solid #572ee5;
        .share {
            width: 20vw;
            display: flex;
            flex-flow: column;
            align-items: center;
            p {
                margin-bottom: -3%;
                margin: 2vh 0;
            }
            .shareIcons {
                margin: 2vh 0;
                width: 20vw;
                display: flex;
                flex-flow: row;
                margin-top: 0;
                justify-content: space-around;
            }
        }
    }
}

@include desktop {
    .footer {
        width: 100%;
        height: 20vh;
        padding: 0 10vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 5px solid #572ee5;
        box-sizing: border-box;
        .share {
            display: flex;
            // background-color: #fff;
            align-items: center;
            justify-content: center;
            justify-items: center;
            // p {
            //     // margin-bottom: -3%;
            // }
            .shareIcons {
                width: 10vw;
                display: flex;
                flex-flow: row;
                margin-top: 0;
                justify-content: space-around;
            }
        }
    }
}
.footer {
    &.dark {
        background-color: #37383c;
        color: #fff;
        border-bottom: 5px solid #000;
    }
}
