@import "../base/typography";
@include phone {
    .header {
        width: 100%;
        height: 15vh;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo burger"
            "menu menu";
        .home {
            padding-top: 2vh;
            padding-left: 3vw;
            grid-area: logo;
            .logo {
                display: inline-block;
                width: 6rem;
                height: 100%;
                // background-color: red;
                background-image: url(/assets/logo-mobile.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                &.dark {
                    background-image: url(/assets/logo-desktop-modo-noc.svg);
                }
            }
        }
        .burger {
            padding-top: 2vh;
            padding-right: 3vw;
            grid-area: burger;
            width: 8vw;
            height: 5vh;
            justify-self: flex-end;
            align-self: center;
            display: flex;
            align-items: center;
            cursor: pointer;
            .stick {
                position: absolute;
                width: 8vw;
                height: 5px;
                background-color: #572ee5;
                transition: 0.5s;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 8vw;
                    height: 5px;
                    background-color: #572ee5;
                    transition: 0.3s;
                }
                &::before {
                    position: absolute;
                    top: -15px;
                }
                &::after {
                    position: absolute;
                    bottom: -15px;
                }
            }
        }
        #input:checked ~ .burger .stick {
            background-color: #fff;
            transition: 0.5s;
            &::before {
                transform: translateY(15px) rotate(-45deg);
            }
            &::after {
                transform: translateY(-15px) rotate(45deg);
            }
        }
        #input:checked ~ .menu {
            display: block;
        }
        #input {
            display: none;
        }
        .menu {
            position: absolute;
            top: 15vh;
            grid-area: menu;
            background-color: #562ee5da;
            height: 80vh;
            width: 100%;
            display: none;
            z-index: 3;
            .links {
                width: 100%;
                height: 100%;
                padding-left: 0;
                text-align: center;
                list-style: none;
                li,
                li a {
                    font-family: $titles;
                    color: white;
                    font-size: 1.3rem;
                    text-decoration: none;
                }
            }
            hr {
                width: 10vw;
            }
            &.dark {
                background-color: #000000;
                color: #fff;
            }
        }
        .createGif {
            display: none;
        }
    }
}
@include desktop {
    .header {
        width: 100%;
        padding: 1vh 8vw;
        border-top: 5px solid #572ee5;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 0.1fr;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        .home {
            width: 100%;
            height: 100%;
            // background-color: yellow;
            .logo {
                display: inline-block;
                width: 6rem;
                height: 100%;
                // background-color: red;
                background-image: url(/assets/logo-desktop.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                &.dark {
                    background-image: url(/assets/logo-desktop-modo-noc.svg);
                }
            }

        }
        input,
        label {
            display: none;
        }
        .menu {
            .links {
                list-style: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                .link {
                    font-family: $titles;
                    color: #572ee5;
                    text-decoration: none;
                    margin: 0 1rem;
                }
                hr {
                    display: none;
                }
            }
        }
        .createGif {
            margin: 20px;
            border: 1px solid #572ee5;
            border-radius: 50%;
            padding: 20px;
            &:hover {
                background-color: aquamarine;
            }
        }
    }
}

.header {
    &.dark {
        background-color: #37383c;
        .menu {
            .links {
                .link {
                    color: #fff;
                }
            }
        }
        .createGif {
            border: 1px solid #fff;
        }
    }
}
