@include phone {
    .main {
        // Taget Main.html
        // background-color: lightsalmon;
        .results {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            // Laaateeeeeeeeeeeeeer =====================================
            // width: 100%;
            // height: 100vh;
            // display: flex;
            // flex-flow: column;
            // background-color: darkcyan;
            display: none;
            .heading {
                text-align: center;
                background-color: crimson;
            }
            .resultsContainer {
                width: 100vw;
                height: 106vh;
                // background-color: lightblue;
                padding: 0 8vw; // Make variable
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2vw;
                row-gap: 5vh;
                background-color: darkslategrey;
                overflow-y: scroll;
                .result {
                    width: 100%;
                    height: 32vh;
                    background-color: lightcoral;
                }
            }
            @import "../components/buttons";
        }

        @import "searchForm";

        // Taget favorites.html

        .favGifs {
            width: 100%;
            padding: 0 6vw;
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            align-items: center;
            .heading {
                text-align: center;
            }
            .favContainer {
                width: 100%;
                height: 128vh;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 6vw;
                row-gap: 4vh;
                overflow-y: scroll;
                .favGif {
                    width: 100%;
                    height: 18vh;
                    background-color: lightcoral;
                }
            }
            .button {
                // Make this button mixin
                padding: 2vh 3vw;
                margin: 3vh 0;
                border: 1px solid #572ee5;
                text-transform: uppercase;
                border-radius: 2rem;
                cursor: pointer;
            }
        }

        // Target myGifos.html

        .myGifos {
            width: 100%;
            padding: 0 6vw;
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            align-items: center;
            .heading {
                // Import heading mixin here
                text-align: center;
            }
            .myGifosContainer {
                width: 100%;
                height: 84vh;
                display: grid;
                box-sizing: border-box;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 6vw;
                row-gap: 4vh;
                overflow-y: scroll;
                .myGif {
                    width: 100%;
                    height: 18vh;
                    background-color: lightcoral;
                }
            }
            .button {
                // Make this button mixin
                padding: 2vh 3vw;
                margin: 3vh 0;
                border: 1px solid #572ee5;
                text-transform: uppercase;
                border-radius: 2rem;
                cursor: pointer;
            }
        }

        // Target: index.html
        .trending-gifos {
            width: 100%;
            height: 65vh;
            background-color: #f3f5f8;
            display: flex;
            flex-flow: column;
            justify-content: center;
            .center-title {
                // Set this style in typography or mixins ===============================
                font-size: 1.2rem;
                color: #572ee5;
                text-align: center;
            }
            .carousel {
                width: 100%;
                height: 50%;
                background-color: crimson;
                margin-bottom: 15%;
                padding-left: 5vw;
                display: flex;
                flex-flow: row nowrap;
                overflow-x: auto;
                .trendGif {
                    margin-right: 5vw;
                    min-width: 65%;
                    height: 100%;
                    background-color: chartreuse;
                }
            }
        }
    }
}
@include desktop {
    .main {
        width: 100%;
        // Target main.html
        @import "searchForm";
        .results {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            // Laaateeeeeeeeeeeeeer =====================================
            // width: 100%;
            // height: 100vh;
            // display: flex;
            // flex-flow: column;
            // background-color: darkcyan;
            display: none;
            .heading {
                text-align: center;
                background-color: crimson;
            }
            .resultsContainer {
                width: 100%;
                height: 106vh;
                padding: 0 8vw; // Make variable
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 2vw;
                row-gap: 5vh;
                background-color: khaki;
                overflow-y: scroll;

                // ============================================================

                @import'../components/hoverMenuGrid';
            }
            @import "../components/buttons";
        }
        .trending-gifos {
            width: 100%;
            height: 100vh;
            background-color: #f3f5f8;
            display: grid;
            grid-template-rows: 35% 65%;
            .center-title {
                // Make this brand
                align-self: center;
                text-align: center;
                background-color: aqua;
                h2 {
                    span {
                        color: #572ee5;
                    }
                }
            }
            .carousel {  // Container
                margin: 0 auto;
                width: 80%;
                height: 70%;
                align-self: start;
                background-color: black;
                display: flex;
                overflow-x: auto;

                // Import hover menu grid
                @import'../components/hoverMenuCarousel';

                // .gif-menuContainer {
                //     position: relative;
                //     min-width: 27%;
                //     height: 100%;
                //     background-color: brown;
                //     margin-right: 5%;
                //     .trendGif {
                //         position: absolute;
                //         width: 100%;
                //         height: 100%;
                //         background-color: brown;
                //         margin-right: 5%;
                //     }
                //     .menu {
                //         width: 100%;
                //         height: 100%;
                //         background-color: #562ee5a4;
                //         .icons {
                //             width: 100%;
                //             height: 25%;
                //             display: grid;
                //             grid-template-columns: repeat(3, 10%);
                //             grid-template-rows: 100%;
                //             justify-content: flex-end;
                //             align-items: center;
                //             gap: 5%;
                //             padding-right: 5%;
                //             .icon {
                //                 height: 2.2em;
                //                 width: 100%;
                //                 background-color: rgba(255, 255, 255, 0.7);
                //                 // padding: 10px;
                //                 border-radius: 6px;
                //                 background-repeat: no-repeat;
                //                 background-size: auto;
                //                 background-position: center;
                //                 box-sizing: border-box;
                //                 padding: 20px;
                //                 &:hover {
                //                     background-color: #fff;
                //                 }
                //             }
                //             .like {
                //                 background-image: url(/assets/icon-fav-hover.svg);
                //             }
                //             .download {
                //                 background-image: url(/assets/icon-download.svg);
                //             }
                //             .expand {
                //                 background-image: url(/assets/icon-max.svg);
                //             }
                //         }
                //         .gifInfo {
                //             width: 100%;
                //             height: 75%;
                //             display: flex;
                //             flex-flow: column;
                //             justify-content: flex-end;
                //             bottom: 0;
                //             padding-left: 5%;
                //             padding-bottom: 11%;
                //             color: #fff;
                //             box-sizing: border-box;
                //             .user {
                //                 margin: 0;
                //                 padding: 2% 0;
                //             }
                //             .title {
                //                 margin: 0;
                //             }
                //         }
                //     }
                //     &:hover .menu {
                //         position: absolute;
                //     }
                // }

                // .hoverMenu {
                //     min-width: 30%;
                //     height: 100%;
                //     background-color: #562ee596;
                // }
                // .trending-gifos-carousel-container {

                // }
            }
        }
        .favGifs {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            // Laaateeeeeeeeeeeeeer =====================================
            // width: 100%;
            // height: 100vh;
            // display: flex;
            // flex-flow: column;
            // background-color: darkcyan;
            .heading {
                text-align: center;
                background-color: crimson;
            }
            // .noResult {
            //     width: 100%;
            //     height: 70vh;
            //     background-color: dimgray;
            // }
            .favContainer {
                width: 100%;
                height: 106vh;
                // background-color: lightblue;
                padding: 0 8vw; // Make variable
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 2vw;
                row-gap: 5vh;
                background-color: darkslategrey;
                overflow-y: scroll;
                display: none;

                // .favGif {
                //     width: 100%;
                //     height: 32vh;
                //     background-color: lightcoral;
                // }
                @import'../components/hoverMenuGrid';
            }
            @import "../components/buttons";
            // .button {
            //     display: none;
            // }
        }

        // Target: myGifos.html

        .myGifos {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .heading {
                text-align: center;
                background-color: crimson;
            }
            .myGifosContainer {
                width: 100%;
                height: 69vh;
                background-color: darkorange;
                padding: 0 8vw; // Make variable
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 2vw;
                row-gap: 5vh;
                overflow-y: scroll;
                .myGif {
                    width: 100%;
                    height: 32vh;
                    background-color: darkslategray;
                }
            }
            @import "../components/buttons";
        }
        .create-gif-container {
            width: 100%;
            // height: 75vh;
            // background-color: dodgerblue;
            // padding: 0 10vw;
            display: flex;
            flex-flow: column;
            align-items: center;
            .createGif {
                width: 50%;
                height: 70vh;
                background-color: dimgray;
                // margin: auto;
            }
            .steps {
                display: flex;
                align-items: center;
                div {
                    margin: 0.8rem;
                    width: 2rem;
                    height: 2rem;
                    padding: 0.5rem;
                    border-radius: 50%;
                    border: 1.3px solid #572ee5;
                    display: inherit;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    // place-items: inherit;
                }
            }
            .bar {
                width: 60%;
                height: 1.2vh;
                background-color: #572ee5;
                border-radius: 5rem;
            }
            // a {
            //     width: 100%;
            //     height: fit-content;
            @import "../components/buttons";
            // }
        }
    }
}
