@import "../base/typography";
@include phone {
    .search {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        .title {
            text-align: center;
            font-size: 3rem;
            color: #572ee5;
            font-family: $titles;
            .full-width {
                display: inline-block;
                width: 100%;
            }
            .gifos {
                color: #50e3c2;
            }
        }
        .imgForm {
            display: grid;
            grid-template-rows: 400px fit-content;
            .img {
                width: 50vw;
                margin: auto;
            }
            .form {
                width: 60vw;
                margin: auto;
                .searchBox {
                    padding: 8px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 9fr 1fr;
                    grid-template-rows: 2fr fit-content;
                    box-sizing: border-box;
                    border: 1px solid #572ee5;
                    border-radius: 20px;
                    &.dark {
                        border: 1px solid #fff;
                    }
                    .searchInput {
                        border-style: none;
                        width: 100%;
                    }
                    .searchAction {
                        width: 100%;
                        height: 100%;
                        background-image: url("../assets/icon-search.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        cursor: pointer;
                        &.dark {
                            background-image: url("../assets/icon-search-mod-noc.svg");
                        }
                    }
                    .suggestions {
                        width: 100%;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: none;
                        li {
                            height: 1.4rem;
                            padding: 0.5rem 0;
                            display: grid;
                            grid-template-columns: 10% 90%;
                            .image {
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                cursor: pointer;
                                &.dark {
                                    background-image: url("../assets/icon-search-mod-noc.svg");
                                }
                            }
                            .text {
                                padding-left: 20px;
                                display: flex;
                                align-items: center;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .trending {
            text-align: center;
            .trending-title {
                font-family: $titles;
                font-size: 1.2rem;
                color: #572ee5;
            }
            p {
                font-size: 1.2rem;
                color: #572ee5;
            }
        }
    }
}
@include desktop {
    .search {
        width: 100%;
        margin: 0;
        display: grid;
        .title {
            height: 100%;
            width: 100%;
            margin: 0;
            display: inline-block;
            text-align: center;
            font-size: 3rem;
            color: #572ee5;
            font-family: $titles;
            .full-width {
                display: inline-block;
                width: 100%;
            }
            .gifos {
                color: #50e3c2;
            }
        }
        .imgForm {
            display: grid;
            grid-template-rows: 400px fit-content;
            .img {
                width: 50vw;
                margin: auto;
            }
            .form {
                width: 60vw;
                margin: auto;
                .searchBox {
                    padding: 8px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 9fr 1fr;
                    grid-template-rows: 2fr fit-content;
                    box-sizing: border-box;
                    border: 1px solid #572ee5;
                    border-radius: 20px;
                    &.dark {
                        border: 1px solid #fff;
                    }
                    .searchInput {
                        border-style: none;
                        width: 100%;
                        height: 1.5rem;
                    }
                    .searchInput:focus {
                        outline: none;
                    }
                    .searchAction {
                        width: 100%;
                        height: 100%;
                        background-image: url("../assets/icon-search.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        cursor: pointer;
                        &.dark {
                            background-image: url("../assets/icon-search-mod-noc.svg");
                        }
                    }
                    .suggestions {
                        display: none;
                        width: 100%;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            width: 100%;
                            height: 1.4rem;
                            margin: 0.5rem 0;
                            display: grid;
                            grid-template-columns: 5% 95%;
                            cursor: pointer;
                            .image {
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                &.dark {
                                    background-image: url("../assets/icon-search-mod-noc.svg");
                                }
                            }
                            .text {
                                padding-left: 20px;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                color: #9cafc3;
                            }
                        }
                    }
                }
            }
        }
        .trending {
            height: 100%;
            width: 100%;
            text-align: center;
            .trending-title {
                font-family: $titles;
                font-size: 1.2rem;
                color: #572ee5;
            }
            .trendNames {
                font-size: 1.2rem;
                color: #572ee5;
                .trend {
                    display: inline;
                }
            }
        }
    }
}

.searchInput {
    &.dark {
        background-color: #37383c;
    }
}

.title {
    &.dark {
        color: #fff;
    }
    .full-width {
        &.dark {
            color: #fff;
        }
    }
}

.center-title {
    &.dark {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.trending {
    .trending-title {
        &.dark {
            color: #fff;
        }
    }
    .trendNames {
        &.dark {
            color: #fff;
        }
    }
}
.searchAction {
    // background-image: url("/assets/icon-search.svg");
    &.dark {
        background-image: url("../assets/icon-search-mod-noc.svg");
    }
}
