@import "../base/typography";
@include phone {
    .search {
        width: 100%;
        height: 100vh;
        // background-color: teal;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        .title {
            // Set this style in typography or mixins ===============================
            text-align: center;
            font-size: 3rem;
            color: #572ee5; // Brand
            font-family: $titles;
            .full-width {
                display: inline-block;
                width: 100%;
            }
            .gifos {
                color: #50e3c2;
            }
        }
        .imgForm {
            display: grid;
            grid-template-rows: 400px fit-content;
            .img {
                // height: 100%;
                width: 50vw;
                margin: auto;
            }
            .form {
                // background-color: tomato;
                width: 60vw;
                margin: auto;
                .searchBox {
                    padding: 8px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 9fr 1fr;
                    grid-template-rows: 2fr fit-content;
                    box-sizing: border-box;
                    border: 1px solid #572ee5;
                    border-radius: 20px;
                    &.dark {
                        border: 1px solid #fff;
                    }
                    // background-color: salmon;
                    .searchInput {
                        // background-color: teal;
                        border-style: none;
                        width: 100%;
                        // height: 100%;
                    }
                    .searchAction {
                        // background-color: tan;
                        width: 100%;
                        height: 100%;
                        background-image: url("/assets/icon-search.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        cursor: pointer;
                    }
                    .suggestions {
                        width: 100%;
                        list-style: none;
                        // background-color: maroon;
                        padding: 0;
                        margin: 0;
                        display: none;
                        li {
                            height: 1.4rem;
                            padding: 0.5rem 0;
                            display: grid;
                            grid-template-columns: 10% 90%;
                            .searchAction {
                                height: 100%;
                                // background-image: url(/assets/icon-search.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                // background-color: lime;
                                cursor: pointer;
                            }
                            .text {
                                padding-left: 20px;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                // background-color: olive;
                            }
                        }
                    }
                    // .suggestions {
                    //     margin: 0;
                    //     display: none;
                    //     width: 50%;
                    //     background-color: seagreen;
                    //     li {
                    //         display: grid;
                    //         grid-template-columns: 90% 10%;
                    //         cursor: pointer;
                    //         &:hover {
                    //             background-color: tan;
                    //         }
                    //     }
                    // }
                }
            }
        }
        .trending {
            text-align: center;
            .trending-title {
                // Set this style in typography or mixins ===============================
                font-family: $titles;
                font-size: 1.2rem;
                color: #572ee5; // Brand
            }
            p {
                font-size: 1.2rem;
                color: #572ee5; //Brand
            }
        }
    }
}
@include desktop {
    .search {
        width: 100%;
        // height: fit-content;
        margin: 0;
        // background-color: teal;
        display: grid;
        // grid-template-rows: 30% 50% 20%;
        // justify-items: center;
        .title {
            // Set this style in typography or mixins ===============================
            height: 100%;
            width: 100%;
            margin: 0;
            display: inline-block;
            text-align: center;
            font-size: 3rem;
            color: #572ee5; // Brand
            font-family: $titles;
            // &.dark {
            //     color: #fff;
            // }
            .full-width {
                // &.dark {
                //     color: #fff;
                // }
                display: inline-block;
                width: 100%;
            }
            .gifos {
                color: #50e3c2;
            }
        }
        .imgForm {
            display: grid;
            grid-template-rows: 400px fit-content;
            .img {
                // height: 100%;
                width: 50vw;
                margin: auto;
            }
            .form {
                // background-color: tomato;
                width: 60vw;
                margin: auto;
                .searchBox {
                    padding: 8px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 9fr 1fr;
                    grid-template-rows: 2fr fit-content;
                    box-sizing: border-box;
                    border: 1px solid #572ee5;
                    border-radius: 20px;
                    &.dark {
                        border: 1px solid #fff;
                    }
                    // background-color: salmon;
                    .searchInput {
                        // background-color: teal;
                        border-style: none;
                        width: 100%;
                        height: 1.5rem;
                    }
                    .searchInput:focus {
                        outline: none;
                    }
                    .searchAction {
                        // background-color: tan;
                        width: 100%;
                        height: 100%;
                        background-image: url("/assets/icon-search.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        cursor: pointer;
                        &.dark {
                            background-image: url("/assets/icon-search-mod-noc.svg");
                        }
                    }
                    .suggestions {
                        display: none;
                        // visibility: hidden;
                        width: 100%;
                        list-style: none;
                        // background-color: maroon;
                        padding: 0;
                        margin: 0;
                        li {
                            // background-color: tomato;
                            width: 100%;
                            height: 1.4rem;
                            margin: 0.5rem 0;
                            display: grid;
                            grid-template-columns: 5% 95%;
                            cursor: pointer;
                            .image {
                                height: 100%;
                                // background-image: url(/assets/icon-search.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                // background-color: lime;
                                &.dark {
                                    background-image: url(/assets/icon-search-mod-noc.svg);
                                }
                            }
                            .text {
                                padding-left: 20px;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                color: #9cafc3;
                            }
                        }
                    }
                }
            }
        }
        .trending {
            height: 100%;
            width: 100%;
            text-align: center;
            .trending-title {
                // Set this style in typography or mixins ===============================
                font-family: $titles;
                font-size: 1.2rem;
                color: #572ee5; // Brand
                // &.dark {
                //     color: #fff;
                // }
            }
            .trendNames {
                font-size: 1.2rem;
                color: #572ee5; //Brand
                // &.dark {
                //     color: #fff;
                // }
                .trend {
                    display: inline;
                }
            }
        }
    }
}

.searchInput {
    &.dark {
        background-color: #37383c;
    }
}

// .searchAction {
//     &.dark {
//         background-image: url("/assets/icon-search-mod-noc.svg");
//     }
// }

.title {
    &.dark {
        color: #fff;
    }
    .full-width {
        &.dark {
            color: #fff;
        }
    }
}

.center-title {
    &.dark {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.trending {
    .trending-title {
        &.dark {
            color: #fff;
        }
    }
    .trendNames {
        &.dark {
            color: #fff;
        }
    }
}
.searchAction {
    // background-image: url("/assets/icon-search.svg");
    &.dark {
        background-image: url(/assets/icon-search-mod-noc.svg);
    }
}
