.button, .film, .stop, .upload {
    padding: 3vh 2vw;
    margin: 4vh 0;
    border: 1px solid #572ee5;
    border-radius: 50px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif; // import proper font
    text-transform: uppercase;
    color: #572ee5;
    cursor: pointer;
    &:hover {
        background-color: #572ee5;
        color: #fff;
    }
    &.dark {
        border: 1px solid #fff;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}