body {
    padding: 0;
    margin: 0;
    border: 0;
}
* {
    box-sizing: border-box;
}
@import 'abstracts/mixins';
@import 'layout/header';
@import 'layout/main';
@import 'components/carousel';
@import 'layout/footer';
@import 'components/noResult';
@import 'components/fullImage';
@import 'abstracts/variables';
@import 'base/typography';
