* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 0 10vw;
  border-top: 5px solid #572ee5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 0.1fr;
      grid-template-columns: repeat(2, 1fr) 0.1fr;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .nav .links li {
  margin: 0 20px;
}

.header .createGif {
  margin: 20px;
  border: 1px solid #572ee5;
  border-radius: 50%;
  padding: 20px;
}

main .search {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .search .search-title {
  text-align: center;
  font-size: 3rem;
  color: #572ee5;
}

main .search .search-title .full-width {
  display: inline-block;
  width: 100%;
}

main .search .search-title .gifos {
  color: #50e3c2;
}

main .search .img-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search .img-form .form .label {
  position: relative;
  display: inline-block;
  width: 45vw;
  height: 8vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .search .img-form .form .label input[type="text"] {
  padding-left: 2vw;
  width: 100%;
  height: 100%;
  border: 1px solid #572ee5;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 50px;
  font-size: 1.5rem;
}

main .search .img-form .form .label .searchAction {
  cursor: pointer;
  position: absolute;
  right: 2vw;
  width: 25px;
  height: 25px;
  background-image: url(/assets/icon-search.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

main .search .trending {
  text-align: center;
}

main .search .trending .trending-title {
  font-size: 1.2rem;
  color: #572ee5;
}

main .search .trending p {
  font-size: 1.2rem;
  color: #572ee5;
}

main .favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .favorites .fav-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .favorites .fav-heading .center-title {
  text-align: center;
  text-align: center;
  font-size: 3rem;
  color: #572ee5;
}

main .favorites .fav-container {
  width: 100%;
  height: 106vh;
  padding: 0 8vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 5vh;
}

main .favorites .fav-container .fav-gif {
  width: 100%;
  height: 32vh;
  background-color: lightcoral;
}

main .favorites .my-gifos-container {
  width: 100%;
  height: 69vh;
  background-color: lightcyan;
  padding: 0 8vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 5vh;
}

main .favorites .my-gifos-container .my-gifo {
  width: 100%;
  height: 32vh;
  background-color: lightcoral;
}

main .favorites .button {
  padding: 3vh 2vw;
  margin: 13vh 0;
  border: 1px solid #572ee5;
  border-radius: 50px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

main .trending-gifos {
  width: 100%;
  height: 100vh;
  padding: 10vh 0;
  background-color: #f3f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .trending-gifos .center-title {
  text-align: center;
}

main .trending-gifos .center-title .trending-h2 {
  text-align: center;
  font-size: 3rem;
  color: #572ee5;
}

main .trending-gifos .center-title p {
  padding: 3vh 0;
  font-size: 1.3rem;
}

main .trending-gifos #carousel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 50%;
  margin: auto 0 auto 0;
}

main .trending-gifos #carousel .trending-gifos-carousel-container {
  margin: auto;
  width: 84%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .trending-gifos #carousel .trending-gifos-carousel-container img {
  width: 32%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 20vh;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid #572ee5;
}

.footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .share img {
  margin-left: 1vw;
}
/*# sourceMappingURL=style.css.map */